# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
build_log.txt
build_and_release.yml


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Secrets
.env
*.pem
*.key
*.keystore
*.jks

# Android
**/android/**/*.gradle
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/local.properties
**/android/app/google-services.json
**/android/key.properties
**/android/.gradle

# iOS / macOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.moved-aside
**/ios/*.nb
**/ios/*.perspectivev3
**/ios/*.xcuserstate
**/Pods/

# Supabase / Cloud
supabase/functions/**/.env
